<div class="container">
    <div class="jumbotron">Friend Finder</h1>
        <p class="lead">Answer a few basic questions.
        </p>
        <hr class="my-4">
        <p>Then find the friend with the greatest compatibility!</p>
        <a class="btn btn-primary btn-lg" id="go-survey" href="/survey" role="button">Go to Survey</a>
    </div>
</div>