body {
    width: 100%;
    background-color: blanchedalmond;
}
.container {
    width: 960px;
}
.jumbotron{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
p {
    font-size: 20px;
}